.boatBusGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.boatBusGroup-select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boatBusGroup-select-properties {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  padding: 8px;
}

.boatBusGroup-select-properties-property {
  display: flex;
  flex-direction: row;
  gap: 4px;
  text-transform: uppercase;
}

.boatBusGroup-select-properties-property > p {
  padding: 8px;
}

.boatBusGroup-select-properties-property-value {
  background-color: var(--overlay1);
  border-radius: 4px;
  text-transform: none;
}
