.passwordInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.passwordInput form {
  width: -webkit-fill-available;
  min-width: 0;
}

.passwordInput-input {
  width: inherit;
  border-radius: var(--border-radius-small);
  border: none;
  outline: none;
  padding: 0px 16px;
  font-size: var(--font-size-s);
  background-color: var(--overlay2);
  color: var(--onSurface2);
  font-family: "Saira-Medium";
  height: 48px;
}

.passwordInput-button {
  cursor: pointer;
  padding: 0px 16px 0px 12px;
  border-radius: var(--border-radius-small);
  text-align: center;
  font-size: var(--font-size-s);
  font-family: "Saira-Medium";
  background-color: var(--primary2);
  color: var(--white);
  border: none;
  white-space: nowrap;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
}
